#custom-hotbar {

	.bar-controls {


		.page-control,
		#custom-macro-directory,
		#custom-bar-toggle {

		}

		#custom-macro-directory {

		}

		.page-number {

		}
	}

	#custom-action-bar {

	}

	#custom-hotbar-page-controls {

	}

	#custom-macro-list {

	}

	.macro {

	}

  a#macro-directory {
    display: none !important;
  }
  .collapsed {
    width: 56px !important;
    height: 408px !important;
  }
}
