#sidebar {
	.dice-tray {

		button.dice-tray__button,
		button.dice-tray__ad,
		button.dice-tray__math,
		button.dice-tray__roll {

		}

		button.dice-tray__button {

		}

		.dice-tray__flag {

		}

		button.dice-tray__math,
		button.dice-tray__roll {

		}

		button.dice-tray__math--add,
		button.dice-tray__math--sub {

		}

		button.dice-tray__advantage,
		button.dice-tray__math--add {

		}

		button.dice-tray__disadvantage,
		button.dice-tray__math--sub {

		}

		input.dice-tray__input {

		}

		.dice-tray__stacked {

		}

		button.dice-tray__ad {

		}
	}

	#chat #chat-controls .roll-type-select .fas.fa-dice-d20 {

	}
}

.dialog--dice-calculator {
	.dice-calculator {

	}
}
