.mythicUI-fix .scroll{
  max-height: calc(100vh - 127px);
}

.mythicUI-fix section.filepicker-body{
   max-height: 61vh;
}

form.mythicUI-fix {
  max-height: 100%;
}

#module-management.mythicUI-fix {
  max-height: calc(100vh - 7px);
}
#module-management.mythicUI-fix .package-list {
  max-height: calc(100vh - 234px);
}

