/* ------------------------------------ */
/*             Tidy5e Sheet             */
/* ------------------------------------ */

/* Header */
@media screen and (max-width: 800px) {
  .simplemobile .tidy5e.sheet.actor .header-attributes {
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: start;
  }
  .simplemobile .tidy5e.sheet.actor .header-attribute {
    /* flex: 1 1 60px; */
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .simplemobile .tidy5e.sheet.actor .tidy5e-header {
    padding: 0.3rem;
    align-items: start;
  }
  .simplemobile .tidy5e.sheet.actor.npc .tidy5e-header {
    padding: 0.3rem 0.3rem 1rem;
  }
  .simplemobile .tidy5e.sheet.actor .character-details {
    margin: 0 0.3rem;
  }
  .simplemobile .tidy5e.sheet.actor .profile {
    width: 100px;
  }
  .simplemobile .tidy5e.sheet.actor .origin-summary {
    flex-wrap: wrap;
  }
  .simplemobile .tidy5e.sheet.actor .char-name {
    white-space: nowrap;
    overflow-x: hidden;
  }
  .tidy5e.sheet.actor .general-information {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.simplemobile .tidy5e.sheet.actor .profile {
  min-width: 100px;
}

/* Navigation */
@media screen and (max-width: 500px) {
  .simplemobile .tidy5e-navigation {
    flex-wrap: nowrap;
  }
  .simplemobile .tidy5e-navigation .item {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0.25rem 0 0.25rem;
    white-space: nowrap;
    text-align: center;
  }
}
/* SheetBody */
.simplemobile .tidy5e.sheet.actor .sheet-body {
  padding: 1rem 0.25rem 1rem 0.25rem;
}

.simplemobile .tidy5e.sheet .window-content .tab.attributes,
.simplemobile .tidy5e.sheet .window-content .tab.biography,
.simplemobile .tidy5e.sheet .window-content .tab.journal {
  flex-wrap: wrap;
  padding-right: 0.25rem;
}

/* Attributes */
.simplemobile .tidy5e.sheet.actor .left-pane {
  flex: 1 1 300px;
  padding: 0 0.25rem;
}
.simplemobile .tidy5e.sheet.actor .center-pane {
  flex-grow: 9999;
  min-width: 300px;
  margin: 0;
  padding: 0 0.25rem;
}

.simplemobile .tidy5e.dnd5e.sheet.actor ul.skills-list {
  flex: 1;
}

.simplemobile .tidy5e.sheet.actor .character-details {
  max-width: calc(100% - 110px);
}

/* Inventory */

.simplemobile
  .tidy5e.sheet.actor
  .inventory-list
  .item
  .item-name
  .item-image {
  flex-shrink: 0;
}

@media screen and (max-width: 500px) {
  .simplemobile
    .tidy5e.sheet.actor
    .inventory-list
    .item-detail.item-action {
    flex: 0 0 75px;
  }

  .simplemobile .tidy5e.sheet.actor .inventory-list .item-weight,
  .simplemobile .tidy5e.sheet.actor .inventory-list .item-charges {
    flex: 0 0 50px;
  }
}

@media screen and (max-width: 450px) {
  .simplemobile
    .tidy5e.sheet.actor
    .inventory-list
    .item-name
    h4
    .info-icon {
    display: none;
  }
}

.tidy5e.sheet.actor .inventory-currency .currency {
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 0;
  margin-left: 1.5rem;
  align-items: center;
}

.simplemobile .tidy5e.sheet.actor .inventory-currency .currency-item {
  flex-wrap: nowrap;
  line-height: 26px;
}

.simplemobile
  .tidy5e.sheet.actor
  .inventory-currency
  .currency-item
  input {
  min-width: 50px;
  height: 26px;
}

.tidy5e.sheet.actor .inventory-currency .currency-header {
  position: absolute;
  left: 20px;
}

/* Features */
@media screen and (max-width: 500px) {
  .simplemobile .tidy5e.sheet.actor .inventory-list .item-level,
  .simplemobile .tidy5e.sheet.actor .inventory-list .item-action,
  .simplemobile .tidy5e.sheet.actor .inventory-list .item-create {
    flex: 0 0 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    white-space: nowrap;
  }

  .simplemobile .tidy5e.sheet.actor.character .item-detail.player-class {
    flex: 0 0 100px;
  }
}
/* Spells */
@media screen and (max-width: 600px) {
  .simplemobile .tidy5e.sheet.actor .inventory-list .spell-school,
  .simplemobile .tidy5e.sheet.actor .inventory-list .spell-action,
  .simplemobile .tidy5e.sheet.actor .inventory-list .spell-target {
    flex: 0 0 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    white-space: nowrap;
  }
}
/* Biography & Journal */

.simplemobile .tidy5e-sheet .left-notes,
.simplemobile .tidy5e-sheet .right-notes {
  min-width: 275px;
  margin: 0 0.25rem 1rem 0.25rem;
}

.simplemobile .tidy5e-sheet .right-notes {
  margin-bottom: 0;
}

/* Tidy5E NPC */

.simplemobile .tidy5e.sheet.actor.npc .npc-core-stats {
  flex-wrap: wrap;
}
.simplemobile .tidy5e.sheet.actor.npc .ability-scores {
  flex-grow: 999;
}
.simplemobile .tidy5e.sheet.actor.npc .header-attributes {
  flex-grow: 1;
}
.simplemobile
  .tidy5e.sheet.actor.npc
  .header-attributes
  .header-attribute {
  flex-grow: 1;
}

.simplemobile .tidy5e.sheet.actor.npc .left-pane {
  flex: 1 1 220px;
  margin-bottom: 1em;
}

.simplemobile .tidy5e.sheet.actor.npc .traits {
  width: 100%;
}

.simplemobile
  .tidy5e.sheet.actor.npc
  .inventory-list
  .item
  .item-name
  h4 {
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .simplemobile
    .tidy5e.sheet.actor.npc
    .inventory-list
    .item
    .item-charges {
    flex: 0 0 50px;
  }
}
