div#mobile-controls {
    display: none !important;
}
@media only screen and (max-width: 1024px) {
/*==========================*DND ONLY=====================================*/
.dnd5e.sheet .sheet-navigation {
    margin-top: -28px;
    border-top: 1px solid #b5b3a4;
}
.dnd5e.sheet .filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;
    /* margin-top: 29px; */
    max-width: 100%;
    flex: 0 0 144%;
}
.dnd5e.sheet.actor .spell-school, .dnd5e.sheet.actor .spell-action, .dnd5e.sheet.actor .spell-target {
    flex: unset;
}
.dnd5e.sheet.actor .inventory-list .item-detail {
    flex: unset !important;
}
.dnd5e.sheet.actor .inventory-list .item-controls a {
    /* flex: 0 0 22px; */
    font-size: 12px;
    text-align: center;
    color: #7a7971;
}
.dnd5e.sheet.actor .inventory-list .item-detail.item-action {
	flex: unset;
}
.collapsed {
    height: fit-content !important;
}
.dnd5e.sheet.actor .encumbrance {
    margin: unset;
}
.dnd5e.sheet .sheet-header .header-details {
    margin-top: -13px;
}
.dnd5e.sheet.actor .tab.attributes {
    overflow: hidden;
    overflow-y: scroll;
}
#sidebar > * {
    background: #2b2a2adb;
}
h4.entity-name {
	text-align: center;
}
.dnd5e.sheet.actor h4.box-title {
    font-size: 13px;
}
.sidebar-tab .directory-header .header-search input {
    background: rgba(255, 255, 245, 0.8);
    width: calc(100% - 26px);
    margin: 0 2px;
    width: 80%;
}
footer.attribute-footer {
    display: inline-flex;
	width: fit-content;
}
.dnd5e.sheet.actor .sheet-header .summary {
	margin-top: -36px;
    margin-bottom: -20px;
}
.dnd5e.sheet.actor .sheet-header .attributes {
    flex: 0 0 100%;
    margin: 0;
    margin-top: -40px;
}
.dnd5e.sheet.actor .spell-slots input, .dnd5e.sheet.actor .spell-slots span.sep {
    display: inline;
    max-width: 20px;
    text-align: center;
    transform: scale(1.5);
}

.dnd5e.sheet.actor.character ul.skills-list li.skill {
    padding: 2vw;
    height: 3vh;
    border: 1px groove #b5b3a473;
    align-content: center;
}
.dnd5e.sheet.actor .counters .counter input[type="text"] {
    height: 20px;
    max-width: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dnd5e.sheet .sheet-navigation .item {
    margin: 0;
}
.dnd5e.sheet.actor.character .sheet-header img.profile {
    flex: 0 0 10px;
    max-width: 100%;
    /* height: 50px; */
    width: 10000px;
    /* transform: scale(0.5); */
}
.dnd5e.sheet.actor .center-pane {
    overflow-y: initial;
}
.dnd5e.sheet.actor.character {
    min-width: 100% !important;
    min-height: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100px !important;
    top: 1px !important;
}
.dnd5e.sheet.actor.character ul.skills-list {
    flex: 66% !important;
    height: 100%;
    height: fit-content;
}
.dnd5e.sheet.actor .inventory-list .item-controls {
    flex: unset;
}
/*==========================*DND END=====================================*/
/*==========================*DARKSHEET ONLY=====================================*/
.section1 {
    display: contents;
}
.checks {
    display: contents;
}
.part4 {
    margin-left: 0px !important;
    width: 100%;
}
.window-resizable-handle {
    display: none;
}
.settings {
    margin-right: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    height: fit-content;
    padding: 20px;
    text-align: center;
    border: groove 2px #5e6069;
    display: contents;
}
.sheet .sheet-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: none;
    display: contents;
}
/*==========================*DARKSHEET END=====================================*/
//*ACTOR SHEETS*/
/*
img#logo {
    display: none;
}
img.profile {
	display: none;
}*/
#combat li.combatant.active {
    background: rgba(255, 100, 0, 0.61);
    box-shadow: 0 0 5px inset #040404;
    border: 1px solid #c04c01;
    display: flex;
}
li.folder > .folder-header {
    padding: 6px;
    line-height: 24px;
    background: rgb(117 46 0 / 61%) !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;
    /* width: 60vw; */
}
#playlists li.playlist .playlist-header .playlist-name {
    background: unset !important;
    border: unset !important;
}
#playlists li.sound .sound-name {
    margin: 0;
    max-width: 150px;
    background: unset !important;
    border: unset !important;
}
.sidebar-tab .directory-list .directory-item {
    line-height: 48px;
    display: contents;
}
.sidebar-tab .directory-footer button {
    margin: 0 3px;
    background: rgb(117 46 0);
    border: 2px solid #bf4b00;
    border-radius: 0px;
    color: white;
}
li.combatant.actor.directory-item.flexrow {
    display: flex;
}
#settings button {
    position: relative;
    margin: 0.5em 0;
    background: #bf4b00;
    border: 1px solid #e85f06;
    color: #ffccab;
    border-radius: 0;
    padding: 7px;
}
.fa-play:before {
    content: "\f04b";
    margin-left: 20px;
    color: #38de38;
}
.playlist-name {
    cursor: pointer;
    max-width: 180px;
}
#playlists li.playlist .playlist-header {
    flex: 0 0 100%;
    justify-content: space-between;
    text-decoration: underline;
    margin-top: 10px;
}
.sidebar-tab .directory-list .directory-item h3, .sidebar-tab .directory-list .directory-item h4 {
    background: #752e00;
    border: 3px solid #bf4b00;
}
li.folder > .folder-header h3 {
    margin: 0;
    color: #FFF;
    background: unset !important;
    border: unset !important;
}
.playlist-controls {
    flex: 0 0 141px !important;
    justify-content: flex-end;
}
#journal li.journal .entity-name {
    margin: 0 0.25em;
    border-bottom: 1px groove;
}
h3, .sidebar-tab .directory-list .directory-item h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0.25em;
}
img#logo {
    display: none;
}
.dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
    margin: unset;
}
img.profile {
	display: none;
}
#combat li.combatant .token-image {
    margin: 0;
    display: none !important;
}
nav#navigation {
	display: none;
}
ol#controls{
	display: none;
}
div#calendar {
    display: none;
}
div#players {
    display: none;
}
#hotbar {
    z-index: 1000;
    position: fixed;
    bottom: unset !important;
    left: unset !important;
    width: 600px;
    height: 2vh;
    pointer-events: none;
    display: inline-grid;
}
#hotbar #macro-list {
    transform: scale(1.3);
    flex: unset;
    height: 100%;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 3px;
    border: 0;
    left: 5%;
    bottom: -17vh;
    position: absolute;
    width: 200px;
}
.notification.error {
    background: rgba(105, 0, 8, 0.6);
    border: 1px solid #750003;
    display: none !important;
}
#hotbar #hotbar-directory-controls {
    pointer-events: all;
    width: 20vw;
    height: 4vw;
    /* margin-top: -1vw; */
    margin-bottom: 3vh !important;
}
#hotbar #action-bar {
    flex: 1;
    height: 52px;
    pointer-events: all;
    position: absolute;
    display: contents;
}
#hotbar .bar-controls {
    background: url(/ui/parchment.jpg) repeat;
    /* color: black; */
    filter: drop-shadow(2px 4px 6px black);
    background: #bf4b00;
    color: white;
}
#sidebar-tabs > .item {
    position: relative;
    flex: 0 0 14vw;
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
}
#sidebar-tabs > .collapse {
    position: relative;
    flex: 0 0 27px;
    line-height: 32px;
    color: #ffffff;
    /* font-size: 29px; */
    text-align: center;
    background: #ff6400bf;
    /* padding: 0 20vw 0 20vw !important; */
    box-shadow: 0 0 6px inset #4b4a44;
    /* max-width: 20px !important; */
    padding: 23px;
    padding-top: 0;
    padding-bottom: 0;
}
#sidebar-tabs > .item.active {
    color: #4b4a44;
    border: 1px solid red;
    border-bottom: none;
    box-shadow: 0 0 6px inset #4b4a44;
    background: #bf4b00 !important;
}

a#macro-directory {
    display: none !important;
}
.collapsed {
    width: 56px !important;
    height: 408px !important;
}
#chat-form {
    height: 200px;
    flex: 0 0 100px;
    margin: 0 6px 6px;
}
#chat-form textarea {
    width: 100%;
    height: 10vh;
    resize: none;
    /* background: url(../ui/parchment.jpg) repeat; */
    color: black;
    background: rgba(255, 255, 245, 0.8);
}

#sidebar {
    border: 1px solid #000;
    background: url(http://i.imgur.com/5Hoxo0s.png) 80%;
    background-repeat: no-repeat;
    z-index: 99;
    background-size: cover;
    background: 0;
    max-height: 95vh;
    margin-top: 3vh;
}

::before {
    font-size: 20px;
}


/*Mobile controls*/
div#mobile-controls {
    position: fixed !important;
    top: unset !important;
    bottom: 20vh !important;
    left: 10vw !important;
    width: 200px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #0000 !important;
    display: block !important;
    background: unset !important;
    box-shadow: unset !important;
    z-index: 30 !important;
    transform: scale(1.2);
}

/*Style*/
#hotbar #hotbar-directory-controls a {
    background: #424141;
    color: white;
    box-shadow: 0px 2px 0px 2px #4a4949;
    background-repeat: repeat;
    background-size: auto;
}
button.goselect {
    width: 100%;
    margin: 0 1px;
    background: rgba(66, 65, 65, 0.85);
    /* border: 1px solid #b5b3a4; */
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    font-family: "Signika", sans-serif;
    color: white;
}
button.goselect {
    width: 100%;
    margin: 0 1px;
    background: rgba(80, 72, 146, 0.55);
    /* border: 1px solid #b5b3a4; */
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    font-family: "Signika", sans-serif;
    color: white;
}
.controlbutton {
    width: 100%;
    margin: 0 1px;
    background: rgba(39, 39, 39, 0.62);
    /* border: 1px solid #b5b3a4; */
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    font-family: "Signika", sans-serif;
    /* border: 0; */
    color: white;
    /* box-shadow: 0 0 6px inset #a2a2a2; */
}
.sidebar-tab .directory-list .directory-item img[data-src] {
    visibility: unset !important;
}
#combat #combat-tracker {
    height: calc(100% - 94px);
    padding: 1px 0;
}
.window-app .window-header {
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 30px;
    border-bottom: 1px solid #000;
    /* box-shadow: 0 0 5px inset white; */
    background: #bf4b00;
    border: 1px solid red;
    border-radius: 5px;
}
#hotbar .macro.inactive {
    background: #2b2a2a9c;
    border: #bf4b00 2px groove;
}
#hotbar .macro .macro-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: 50% 50%;
    border: none;
    background: #000000;
    box-shadow: 0 0 5px inset whitesmoke;
}
#hotbar .bar-controls {
    background: url(/ui/parchment.jpg) repeat;
    /* color: black; */
    filter: drop-shadow(2px 4px 6px black);
    background: #bf4b009c;
}
#sidebar-tabs {
    background: black;
}
#sidebar-tabs > .item {
    position: relative;
    flex: 0 0 14vw;
    max-width: 53px;
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    background: #383737 !important;
    margin: 1px;
    box-shadow: 0 0 6px inset #000000;
}

i.fas.fa-caret-down {
    margin: 2vh;
}
.fa-caret-up:before {
    content: "\f0d8";
    margin: 2vh;
}
.dice-tray {
    margin-bottom: 5vh;
}
#playlists .global-volume {
    flex: 0 0 152px;
    transform: scaleY(2.5);
}
#playlists li.sound {
    margin: 13px 0 0;
    padding: 0;
}
li.directory-item.entity.playlist.flexrow.collapsed {
    width: 100%!important;
}
.sheet .sheet-header > * {
    flex: 1;
    max-height: 201px;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
    font-family: unset !important;
}
.dnd5e.sheet.actor .inventory-list .item .item-name {
    overflow: unset !important;

}


}/*PHONE END*/
div#mobile-controls {
display:none;
}


.up {
    height: unset !important;
}
.down {
    height: unset !important;
}
div#mobile-controls > .window-header {
    display: none !important;
} 
div#mobile-controls > section.window-content {
    box-shadow: unset !important;
    background: #2b2a2a9c;
}

div#mobile-s {
    display: flex;
    box-shadow: 0 0 20px #000;
}
@media only screen and (max-width: 600px) {/* UNDER 600 PIXEL*/
.item-image {
    width: 30vw;
}
.dnd5e.sheet.actor.character ul.skills-list {
    flex: 66% !important;
}
.dnd5e.sheet.actor .inventory-filters .currency {
    list-style: none;
    margin: 4px 0 8px;
    padding: 0;
    font-size: 11px;
    flex: 0 0 100%;
    align-self: flex-end;
}
#hotbar #hotbar-directory-controls {
    pointer-events: all;
    width: 20vw;
    height: 8vw;
    /* margin-top: -1vw; */
    margin-bottom: 3vh !important;
}
#sidebar {
    border: 1px solid #000;
    background: url(http://i.imgur.com/5Hoxo0s.png) 80%;
    background-repeat: no-repeat;
    z-index: 99;
    background-size: cover;
    background: 0;
    /* width: 20%; */
    max-height: 95vh;
    margin-top: 3vh;
}
#combat li.combatant .token-image {
    margin: 0;
    display: none !important;
}
}