#sidebar,
.sidebar-popout {
  #settings {
    button {
      position: relative;
      margin: 0.5em 0;
      background: #bf4b00;
      border: 1px solid #e85f06;
      color: #ffccab;
      border-radius: 0;
      padding: 7px;
    }
  }
}
