/* ------------------------------------ */
/*==========================*DND ONLY=====================================*/
/* ------------------------------------ */
.item-name.flexrow.rollable {
  font-size: unset !important;
}
.dnd5e.sheet.actor .counters .counter {
  height: 29px;
  line-height: 29px;
  font-size: 15px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
  margin-left: 20px;
}
.dnd5e.sheet.actor .counters .counter .counter-value {
  margin-left: 50px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-proficiency {
  margin-right: 20px;
}
section.header-details.flexrow {
  margin-bottom: -30px;
}
.dnd5e.sheet .sheet-header .summary li:last-child {
  border-right: none;
  max-width: 140px;
}
.dnd5e.sheet .sheet-header h1 input {
  transform: unset !important;
}
.dnd5e.sheet .sheet-navigation {
  border-top: 1px solid #b5b3a4;
}
.dnd5e.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 0;
}
.dnd5e.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #ffffff;
  background: #bf4b00;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.2s;
  color: #f0f0e0;
}
.dnd5e.sheet.actor .spellcasting-ability {
  flex: 0;
}
.dnd5e.sheet .filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  /* margin-top: 29px; */
  max-width: 100%;
  flex: 0 0 144%;
}
.dnd5e.sheet.actor .spell-school, .dnd5e.sheet.actor .spell-action, .dnd5e.sheet.actor .spell-target {
  flex: unset;
}
.dnd5e.sheet.actor .inventory-list .item-detail {
  flex: unset !important;
}
.dnd5e.sheet.actor .inventory-list .item-controls a {
  /* flex: 0 0 22px; */
  font-size: 12px;
  text-align: center;
  color: #7a7971;
}
.dnd5e.sheet.actor .inventory-list .item-detail.item-action {
flex: unset;
}
.collapsed {
  height: fit-content !important;
}
.dnd5e.sheet.actor .encumbrance {
  margin: unset;
}
.dnd5e.sheet.actor .sheet-header h1.charname input {
  height: 24px;
margin:0;
}
.dnd5e.sheet.actor .sheet-header .header-exp {
  flex: 0 0 100px;
  margin-right: 2px;
  height: 75px;
  justify-content: flex-end;
  text-align: right;
  flex-direction: column-reverse;
  margin-right: 95px;
}
.dnd5e.sheet.actor .tab.attributes {
  overflow: hidden;
  overflow-y: scroll;
}
h4.entity-name {
text-align: center;
}
.dnd5e.sheet.actor h4.box-title {
  font-size: 13px;
}
.sidebar-tab .directory-header .header-search input {
  background: RGBA(255, 255, 245, 0.8);
  width: calc(100% - 26px);
  margin: 0 2px;
  width: 80%;
}
footer.attribute-footer {
  display: inline-flex;
width: fit-content;
}
.dnd5e.sheet.actor .sheet-header .summary {
margin-top: -36px;
  margin-bottom: -20px;
}
.dnd5e.sheet.actor .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
  margin-top: 11px;
  margin-bottom: 42px;
}
.dnd5e.sheet.actor .spell-slots input, .dnd5e.sheet.actor .spell-slots span.sep {
  display: inline;
  max-width: 20px;
  text-align: center;
  transform: scale(1.5);
}

.dnd5e.sheet.actor.character ul.skills-list li.skill {
  padding: 2vw;
  height: 4vh;
  border: 1px groove #b5b3a473;
  align-content: center;
}
.dnd5e.sheet.actor .counters .counter input[type="text"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dnd5e.sheet .sheet-navigation .item {
  margin: 0;
}
.dnd5e.sheet.actor.character .sheet-header img.profile {
  flex: 0 0 10px;
  max-width: 100%;
  /* height: 50px; */
  width: 10000px;
  /* transform: scale(0.5); */
}
.dnd5e.sheet.actor .center-pane {
  overflow-y: initial;
}
.dnd5e.sheet.actor.character {
  min-width: 100% !important;
  min-height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100px !important;
  top: 1px !important;
}
.dnd5e.sheet.actor.character ul.skills-list {
  flex: 66% !important;
  height: 100%;
  height: fit-content;
}
.dnd5e.sheet.actor .inventory-list .item-controls {
  flex: unset;
}
.dnd5e.sheet .window-content {
  max-width: 100vw;
}
/*==========================*DND END=====================================*/
/*==========================*DARKSHEET ONLY=====================================*/
.section1 {
  display: contents;
}
.checks {
  display: contents;
}
.part4 {
  margin-left: 0px !important;
  width: 100%;
}
.window-resizable-handle {
  display: none;
}
.settings {
  margin-right: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  height: fit-content;
  padding: 20px;
  text-align: center;
  border: groove 2px #5e6069;
  display: contents;
}
.sheet .sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: none;
  display: contents;
}
/*==========================*DARKSHEET END=====================================*/
/*ACTOR SHEETS*/
/*
img#logo {
  display: none;
}
img.profile {
display: none;
}*/
div#mobile-controls {
  display: none !important;
}
div#mobile-container {
  flex: 1;
  width: 39%;
  margin-left: 20px;
}
button.opencharsheet.controlbutton {
  height: 45px !important;
  width: 50px;
  position: absolute;
  left: 82%;
}
#sidebar > * {
  background: #2b2a2adb;
}

#combat li.combatant.active {
  background: RGBA(255, 100, 0, 0.61);
  box-shadow: 0 0 5px inset #040404;
  border: 1px solid #c04c01;
  display: flex;
}
li.folder > .folder-header {
  background: RGB(117 46 0 / 61%) !important;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
  width: 68vw;
}
#playlists li.playlist .playlist-header .playlist-name {
  background: unset !important;
  border: unset !important;
}
#playlists li.sound .sound-name {
  margin: 0;
  max-width: 150px;
  background: unset !important;
  border: unset !important;
}
.sidebar-tab .directory-list .directory-item {
  line-height: 48px;
  display: contents;
}
.sidebar-tab .directory-footer button {
  margin: 0 3px;
  background: RGB(117 46 0);
  border: 2px solid #bf4b00;
  border-radius: 0px;
  color: white;
}
li.combatant.actor.directory-item.flexrow {
  display: flex;
}
#settings button {
  position: relative;
  margin: 0.5em 0;
  background: #bf4b00;
  border: 1px solid #e85f06;
  color: #ffccab;
  border-radius: 0;
  padding: 7px;
}
.fa-play:before {
  content: "\f04b";
  margin-left: 20px;
  color: #38de38;
}
.playlist-name {
  cursor: pointer;
  max-width: 180px;
}
#playlists li.playlist .playlist-header {
  margin-top: 10px;
  flex-wrap: nowrap;
}
.sidebar-tab .directory-list .directory-item h3, .sidebar-tab .directory-list .directory-item h4 {
  /* background: #752e00; */
  /* border: 3px solid #bf4b00; */
}
li.folder > .folder-header h3 {
  margin: 0;
  color: #FFF;
  background: unset !important;
  border: unset !important;
}
.playlist-controls {
  flex: 0 0 141px !important;
  justify-content: flex-end;
}
#journal li.journal .entity-name {
  margin: 0 0.25em;
  border-bottom: 1px groove;
}
h3, .sidebar-tab .directory-list .directory-item h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0.25em;
}
img#logo {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
  margin: unset;
}

nav#navigation {
display: none;
}
ol#controls{
display: none;
}
div#calendar {
  display: none;
}
div#players {
  display: none;
}
#hotbar {
  z-index: 1000;
  position: fixed;
  bottom: unset !important;
  left: unset !important;
  width: 600px;
  height: 2vh;
  pointer-events: none;
  display: inline-grid;
}
#hotbar #macro-list {
  transform: scale(1.3);
  flex: unset;
  height: 100%;
  list-style: none;
  margin: 0 2px;
  padding: 0;
  border: 1px solid #000;
  border-radius: 3px;
  border: 0;
  left: 5%;
  bottom: -17vh;
  position: absolute;
  width: 200px;
}
.notification.error {
  background: RGBA(105, 0, 8, 0.6);
  border: 1px solid #750003;
  display: none !important;
}
#hotbar #hotbar-directory-controls {
  pointer-events: all;
  width: 20vw;
  height: 4vw;
  /* margin-top: -1vw; */
  margin-bottom: 3vh !important;
}
#hotbar #action-bar {
  flex: 1;
  height: 52px;
  pointer-events: all;
  position: absolute;
  display: contents;
}
#hotbar .bar-controls {
  background: url(/ui/parchment.jpg) repeat;
  /* color: black; */
  filter: drop-shadow(2px 4px 6px black);
  background: #bf4b00;
  color: white;
}
#sidebar-tabs > .item {
  position: relative;
  flex: 0 0 14vw;
  line-height: 32px;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
}
#sidebar-tabs > .collapse {
  position: relative;
  flex: 0 0 27px;
  line-height: 32px;
  color: #ffffff;
  /* font-size: 29px; */
  text-align: center;
  background: #ff6400bf;
  /* padding: 0 20vw 0 20vw !important; */
  box-shadow: 0 0 6px inset #4b4a44;
  /* max-width: 20px !important; */
  padding: 23px;
  padding-top: 0;
  padding-bottom: 0;
}
#sidebar-tabs > .item.active {
  color: #4b4a44;
  border: 1px solid red;
  border-bottom: none;
  box-shadow: 0 0 6px inset #4b4a44;
  background: #bf4b00 !important;
}

a#macro-directory {
  display: none !important;
}
.collapsed {
  width: 56px !important;
  height: 408px !important;
}
i.fas.fa-caret-left {
  transform: scale(1.5);
  margin-top: 17px;
}
#chat-form {
  height: 200px;
  flex: 0 0 100px;
  margin: 0 6px 6px;
}
#chat-form textarea {
  width: 100%;
  height: 10vh;
  resize: none;
  /* background: url(../ui/parchment.jpg) repeat; */
  color: black;
  background: RGBA(255, 255, 245, 0.8);
}

#sidebar {
  border: 1px solid #000;
  background: url(http://i.imgur.com/5Hoxo0s.png) 80%;
  background-repeat: no-repeat;
  z-index: 99;
  background-size: cover;
  background: 0;
  /* width: 20%; */
  max-height: 88vh;
  margin-top: 3vh;
}

::before {
  font-size: 20px;
}


/*Mobile controls*/
div#mobile-controls {
height: 13vh !important;
  position: fixed !important;
  top: unset !important;
  bottom: 4vh !important;
  left: 6vw !important;
  width: 83% !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #0000 !important;
  display: block !important;
  background: unset !important;
  box-shadow: unset !important;
  z-index: 30 !important;
  transform: scale(1.2);
}

/*Style*/
#hotbar #hotbar-directory-controls a {
  background: #424141;
  color: white;
  box-shadow: 0px 2px 0px 2px #4a4949;
  background-repeat: repeat;
  background-size: auto;
}
button.goselect {
  width: 100%;
  margin: 0 1px;
  background: RGBA(66, 65, 65, 0.85);
  /* border: 1px solid #b5b3a4; */
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
  color: white;
}
button.goselect {
  width: 100%;
  margin: 0 1px;
  background: RGBA(80, 72, 146, 0.55);
  /* border: 1px solid #b5b3a4; */
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
  color: white;
}
.controlbutton {
  width: 100%;
  margin: 0 1px;
  background: RGBA(39, 39, 39, 0.62);
  /* border: 1px solid #b5b3a4; */
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
  /* border: 0; */
  color: white;
  /* box-shadow: 0 0 6px inset #a2a2a2; */
}
.sidebar-tab .directory-list .directory-item img[data-src] {
  visibility: unset !important;
}
#combat #combat-tracker {
  height: calc(100% - 94px);
  padding: 1px 0;
}
.window-app .window-header {
  flex: 0 0 30px;
  overflow: hidden;
  padding: 0 8px;
  line-height: 30px;
  border-bottom: 1px solid #000;
  /* box-shadow: 0 0 5px inset white; */
  background: #bf4b00;
  border: 1px solid red;
  border-radius: 5px;
  max-width: 100vw;
}
#hotbar .macro.inactive {
  background: #2b2a2a9c;
  border: #bf4b00 2px groove;
}
#hotbar .macro .macro-icon {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: 50% 50%;
  border: none;
  background: #000000;
  box-shadow: 0 0 5px inset whitesmoke;
}
#hotbar .bar-controls {
  background: url(/ui/parchment.jpg) repeat;
  /* color: black; */
  filter: drop-shadow(2px 4px 6px black);
  background: #bf4b009c;
}
#sidebar-tabs {
  background: black;
}
#sidebar-tabs > .item {
  position: relative;
  flex: 0 0 14vw;
  max-width: 53px;
  line-height: 32px;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  background: #383737 !important;
  margin: 1px;
  box-shadow: 0 0 6px inset #000000;
}

i.fas.fa-caret-down {
  margin: 2vh;
}
.fa-caret-up:before {
  content: "\f0d8";
  margin: 2vh;
}
.dice-tray {
  margin-bottom: 5vh;
}
#playlists .global-volume {
  flex: 0 0 152px;
  transform: scaleY(2.5);
}
#playlists li.sound {
  margin: 13px 0 0;
  padding: 0;
}
li.directory-item.entity.playlist.flexrow.collapsed {
  width: 100%!important;
}
.sheet .sheet-header > * {
  flex: 1;
  max-height: 201px;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
  font-family: unset !important;
}
.dnd5e.sheet.actor .inventory-list .item .item-name {
  overflow: unset !important;

}


/*PHONE END*/

.up {
  height: unset !important;
}
.down {
  height: unset !important;
}
div#mobile-controls > .window-header {
  display: none !important;
}
div#mobile-controls > section.window-content {
  box-shadow: unset !important;
  background: #00000000;
}

div#mobile-s {
  display: flex;
  box-shadow: 0 0 20px #000;
  height: 12vh;
}
button.goup.controlbutton {
  height: 33%;
}
button.goselect.controlbutton {
  height: 33%;
}
button.godown.controlbutton {
  height: 33%;
}

@media only screen and (max-width: 600px) {/* UNDER 600 PIXEL*/
  .item-image {
      width: 30vw;
  }
  .dnd5e.sheet.actor.character ul.skills-list {
      flex: 66% !important;
  }
  .sheet-header .profile {
      display: none;
  }
  .dnd5e.sheet.actor .inventory-filters .currency {
      list-style: none;
      margin: 4px 0 8px;
      padding: 0;
      font-size: 11px;
      flex: 0 0 100%;
      align-self: flex-end;
  }
  #hotbar #hotbar-directory-controls {
      pointer-events: all;
      width: 20vw;
      height: 8vw;
      /* margin-top: -1vw; */
      margin-bottom: 3vh !important;
  }
}
/* ------------------------------------ */
/* ------------------------------------ */

/* ------------------------------------ */
/* START mobile-improvements */
/* ------------------------------------ */

/* ------------------------------------ */
/*             dnd5e system             */
/*        (needs sorting/structure)     */
/* ------------------------------------ */

@media screen and (max-width: 800px) {
  .dnd5e.sheet .sheet-header {
    align-items: center;
  }
  .dnd5e.sheet.actor.character .sheet-header img.profile {
    flex: 0 0 20vw;
    max-width: 20vw;
    height: 20vw;
  }
  .dnd5e.sheet .sheet-header h1 {
    height: auto;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .dnd5e.sheet .sheet-header h1 input {
    margin: 0;
  }
  .dnd5e.sheet.actor .sheet-header .charlevel,
  .dnd5e.sheet.actor.character .sheet-header .charlevel {
    height: auto;
    flex: 1;
    max-width: 33vw;
  }
  .dnd5e.sheet.actor.character .sheet-header .charlevel .level {
    height: auto;
    line-height: 26px;
  }
  .dnd5e.sheet.actor .sheet-header .charlevel .level label {
    font-size: 20px;
  }
  .dnd5e.sheet.actor .sheet-header .charlevel .experience {
    display: flex;
    justify-content: end;
    white-space: nowrap;
  }

  .dnd5e.sheet.actor.character
    .sheet-header
    .charlevel
    .experience
    input[type="text"] {
    width: auto;
    max-width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .dnd5e.sheet .sheet-header {
    position: relative;
  }
  .dnd5e.sheet.actor.character .sheet-header img.profile {
    position: absolute;
    top: 0px;
  }
  .dnd5e.sheet.actor.character .sheet-header img.profile {
    max-width: 90px;
    height: 90px;
  }
  .dnd5e.sheet.actor.character .sheet-header h1 {
    margin-left: 94px;
  }
  .dnd5e.sheet.actor.character .sheet-header .summary {
    margin-left: 94px;
    flex: 0 0 calc(100% - 94px);
  }
}

.dnd5e.sheet .sheet-navigation .item {
  margin: 0;
}
.dnd5e.sheet.actor ul.attributes {
  height: auto;
}
.dnd5e.sheet.actor ul.attributes li.attribute {
  height: auto;
  overflow: hidden;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
  white-space: nowrap;
  font-size: 18px; /* Changes size of whitespace */
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value input {
  padding: 0;
}
.dnd5e.sheet.actor.character .attributes .resource label.checkbox {
  white-space: nowrap;
}
.dnd5e.sheet.actor.character .sheet-header .attributes {
  height: auto;
}

.dnd5e.sheet.actor.character
  .sheet-header
  .attributes
  .attribute
  .attribute-name {
  white-space: nowrap;
}

.dnd5e.sheet.actor.character
  .sheet-header
  .attributes
  .attribute
  .attribute-footer {
  white-space: nowrap;
}

.dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
  margin: 0;
}
.dnd5e.sheet.actor .sheet-header .charlevel {
  flex: 1;
}

.dnd5e.sheet.actor ul.skills-list,
.dnd5e.sheet.actor.character ul.skills-list {
  min-width: 195px;
  flex: 1;
}

.dnd5e.sheet.actor .counters .counter {
  flex-wrap: nowrap;
}
.dnd5e.sheet.actor .counters .counter h4 {
  white-space: nowrap;
}
.dnd5e.sheet.actor .counters .counter .counter-value {
  flex: 1;
  white-space: nowrap;
}

.dnd5e.sheet.actor .traits {
  min-width: 250px;
}

/*    Inventory   */
.dnd5e.sheet.actor .inventory-list .item .item-name h4 {
  width: 100%;
}
.dnd5e.sheet.actor .inventory-list .item .item-name .item-image {
  max-height: 30px;
}

.dnd5e.sheet .sheet-header .summary li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dnd5e.sheet.actor .inventory-list .item .item-name h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Character */

.dnd5e.sheet.actor h4.box-title {
  white-space: nowrap;
}

.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
  height: auto;
}
.dnd5e.sheet.actor.character
  .resource
  .attribute-value
  label.recharge
  input[type="checkbox"] {
  top: 3px;
}

.dnd5e.sheet.actor .tab.attributes {
  overflow-y: auto;
}

.dnd5e.sheet.actor .center-pane {
  overflow-y: unset;
  height: unset;
}

/* Character inventory */

.dnd5e.sheet.actor .inventory-filters .currency {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  .dnd5e.sheet.actor .inventory-filters .currency h3 {
    font-size: 0;
  }
  .dnd5e.sheet.actor .inventory-filters .currency h3 a {
    font-size: 14px;
  }
}

/*  Actor Items */
.dnd5e.sheet.actor .inventory-list .item .item-name {
  min-width: 75px;
}

/* NPC */
.dnd5e.sheet .sheet-body {
  overflow-y: auto;
}

/*    Item sheet   */
.mobile-improvements .dnd5e.sheet.item .sheet-body .editor {
  flex-basis: 400px;
  flex-grow: 999;
}

.mobile-improvements .dnd5e.sheet.item .sheet-body .item-properties {
  flex-grow: 1;
  margin-bottom: 0.5em;
}

.dnd5e.sheet.item .sheet-body .item-properties .properties-list {
  display: flex;
  flex-wrap: wrap;
}

.dnd5e.sheet.item .sheet-body .item-properties .properties-list li {
  flex: 1 1 120px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dnd5e.sheet.item .sheet-body .tab[data-tab="description"] {
  /* overflow: hidden; */
}

/* ------------------------------------ */
/* END mobile-improvements */
/* ------------------------------------ */
