/*PF2*/
.simplemobile .crb-style .sheet-body .sheet-content .character .character-details .detail-sheet {
  display: block;
  max-width: 50vw;
  margin-left: -8px;
}
.simplemobile .crb-style .sheet-body .sheet-content .character .character-details .alignment {
  margin-left: -5px;
}
.simplemobile .crb-style .sheet-body .sheet-content .character .character-details .deity {
  display: -webkit-inline-box;
}
.simplemobile .crb-style aside {
  margin-left: -24px;
}
.simplemobile .crb-style aside .logo {
  display: none;
}
.simplemobile .crb-style aside .sidebar {
  margin-top: 0px;
}
.simplemobile .crb-style .sheet-body {
  margin-top: 28px;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .inventory-list, .simplemobile .crb-style .sheet-body .sheet-content .inventory .inventory .inventory-list, .simplemobile .crb-style .sheet-body .sheet-content .inventory>.tab:not(.inventory), .simplemobile .crb-style .sheet-body .sheet-content>.tab:not(.inventory) {
  margin-left: -11vw;
  width: 57vw;
  margin-top: 30px;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .inventory-header .item-quantity, .simplemobile .crb-style .sheet-body .sheet-content .inventory .inventory-header .item-sell-value, .simplemobile .crb-style .sheet-body .sheet-content .inventory .inventory-header .item-weight {
  display: none;
}
.simplemobile .crb-style .sheet-body .sheet-content .spellbook .directory-list .item .action-header {
  background: #450000;
  text-align: left;
}
.tab.effects.actions-pane.active {
  margin-top: 4vh;
}
.simplemobile .crb-style .sheet-body .sheet-content .effects .effects-list .item.action-header {
  background: #590000;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .currency, .simplemobile .crb-style .sheet-body .sheet-content .inventory .encumbrance, .simplemobile .crb-style .sheet-body .sheet-content .inventory .treasure-wealth, .simplemobile .crb-style .sheet-body .sheet-content .inventory .wealth {
  margin-right: 23px;
  margin-left: -46px;
  margin-top: 19px;
  flex-flow: wrap;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .item-name h3, .simplemobile .crb-style .sheet-body .sheet-content .inventory .item-name h4 {
  font-size: 10px;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .wealth .wealth-label {
  padding: 0;
  display: table;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .currency .denomination {
  width: 55px;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .item-name h3:hover, .simplemobile .crb-style .sheet-body .sheet-content .inventory .item-name h4:hover {
  color: var(--primary);
  width: 20px;
  display: contents;
  font-size: 13px;
  color: #efece7;
}
.compendium-browser .tab.browser>div {
  display: inline;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .inventory-list .item-list .item {
  display: table;
}
.simplemobile .crb-style .sheet-body .sheet-content .inventory .item-quantity .item-decrease-quantity, .simplemobile .crb-style .sheet-body .sheet-content .inventory .item-quantity .item-increase-quantity {
  background: #602020;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
}
.simplemobile .crb-style .sheet-body .sheet-content, .simplemobile .crb-style .sheet-body .sheet-content .inventory {
  width: 42vw;
}
.simplemobile .crb-style nav.sheet-navigation {
  position: absolute;
  right: 8px;
  height: 31px;
  background: #310000;
  border-radius: 20px;
}
.simplemobile .crb-style header.char-header {
  margin-left: -43px;
  margin-top: 77px;
  width: 45vw;
}
.simplemobile .crb-style header.char-header .char-details h1.char-name {
  margin: -23px 0 4px;
}
.simplemobile .crb-style header.char-header .char-level {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8px;
  margin-top: -22px;
  position: absolute;
  top: 139px;
  background: #610000;
  margin-left: -3px;
  width: 51vw;
}
.simplemobile .crb-style .dots span {
  flex: none;
  z-index: 20;
}
.simplemobile .crb-style header.char-header .char-level .exp-data .info {
  display: none;
}
.simplemobile .crb-style header.char-header .char-level .exp-data {
  width: 91px;
  margin-left: -8px;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item.action-header {
  width: 200px;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item.action-header {
  width: 200px;
  background: #410000;
  height: 27px;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item.action-header .item-controls {
  color: #ffffff;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item .button-group {
  display: grid;
  flex-wrap: nowrap;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-nav {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  border-radius: 3px;
  /* max-width: 45vw; */
  margin: 10px;
  margin-left: -18px;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item .item-name {
  display: flex;
  align-items: center;
  margin-right: auto;
  background: #602020 !important;
  width: 47vw;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item .button-group button, .simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item .button-group select {
  width: 35vw;
  height: 4vh;
}
.simplemobile .crb-style .sheet-body .sheet-content .character .ability-scores {

  display: inline-block;
}
.simplemobile .crb-style .sheet-body .sheet-content .character .ability-scores .ability .ability-name {
  grid-area: label;
  margin: 0;
  color: white;
  background: #bf4b00;
  padding: 6px;
  font-size: 12px;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper {
  margin-top: 21px;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item .button-group button:hover {
  box-shadow: none !important;
  text-shadow: 0 0 2px #fff;
  margin-left: 5px;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-list .item.expanded .item-summary {
  max-width: 46vw;
}
.simplemobile .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-panels .actions-options {
  max-width: 46vw;
}
h2.ability-id {
  display: none;
}
.simplemobile .crb-style .sheet-body .sheet-content .character .ability-scores .ability {
  display: grid;
  grid:
      " label label" auto
      "score mod" 1fr/1fr;
  column-gap: 3px;
  align-items: center;
}
.simplemobile .crb-style .sheet-body .sheet-content .character .character-details .frame {
  display: none;
}
.simplemobile .crb-style .sheet-body .sheet-content .character .character-details {
  display: block;
  margin-top: 4px;
}
.simplemobile .crb-style nav.sheet-navigation span {
  display: none;
}
