<ul class="mobile-navigation" style="display: none;">
  <li class="navigation-map"><i class="fas fa-map"></i>Map</li>
  <li class="navigation-sidebar"><i class="fas fa-caret-right"></i>Sidebar</li>
  <li class="navigation-macros toggle">
    <i class="fas fa-grip-horizontal"></i>Actions
  </li>
  <li class="navigation-menu toggle"><i class="fas fa-ellipsis-h"></i>More</li>
  <li class="navigation-windows toggle">
    <span><i class="fas fa-window-restore"></i><span>0</span></span
    >Windows
  </li>
</ul>
