/*Style*/
div#mobile-controls {
	position: fixed !important;
	top: unset !important;
	bottom: 20vh !important;
	left: 10vw !important;
	width: 200px !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 1px solid #0000 !important;
	display: block !important;
	background: unset !important;
	box-shadow: unset !important;
	z-index: 30 !important;
	transform: scale(1.2);
	display: none;
}
button.goselect {
	width: 100%;
	margin: 0 1px;
	background: RGBA(66, 65, 65, 0.85);
	border-radius: 3px;
	font-size: 14px;
	line-height: 28px;
	font-family: "Signika", sans-serif;
	color: white;
	width: 100%;
	margin: 0 1px;
	background: RGBA(80, 72, 146, 0.55);
	border-radius: 3px;
	font-size: 14px;
	line-height: 28px;
	font-family: "Signika", sans-serif;
	color: white;
}
.controlbutton {
	width: 100%;
	margin: 0 1px;
	background: RGBA(39, 39, 39, 0.62);
	border-radius: 3px;
	font-size: 14px;
	line-height: 28px;
	font-family: "Signika", sans-serif;
	color: white;
}
.window-app {
	.window-header {
		flex: 0 0 30px;
		overflow: hidden;
		padding: 0 8px;
		line-height: 30px;
		border-bottom: 1px solid #000;
		background: #bf4b00;
		border: 1px solid red;
		border-radius: 5px;
	}
}
i.fas.fa-caret-down {
	margin: 2vh;
}
.fa-caret-up {
	&:before {
		content: "\f0d8";
		margin: 2vh;
	}
}
.up {
	height: unset !important;
}
.down {
	height: unset !important;
}
div {
	&#mobile-controls > { 
    .window-header { 
      display: none !important;
      
    }
    section.window-content {
      box-shadow: unset !important;
      background: #2b2a2a9c;
    }
  }

	&#mobile-s {
		display: flex;
		box-shadow: 0 0 20px #000;
	}
}
