@media only screen and (max-width: 1024px) {

/*==========================*DND ONLY=====================================*/
@media screen and (max-width: 800px) {
    .dnd5e.sheet .sheet-header {
      align-items: center;
    }
    .dnd5e.sheet.actor.character .sheet-header img.profile {
      flex: 0 0 20vw;
      max-width: 20vw;
      height: 20vw;
    }
    .dnd5e.sheet .sheet-header h1 {
      height: auto;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
    .dnd5e.sheet .sheet-header h1 input {
      margin: 0;
    }
    .dnd5e.sheet.actor .sheet-header .charlevel,
    .dnd5e.sheet.actor.character .sheet-header .charlevel {
      height: auto;
      flex: 1;
      max-width: 33vw;
    }
    .dnd5e.sheet.actor.character .sheet-header .charlevel .level {
      height: auto;
      line-height: 26px;
    }
    .dnd5e.sheet.actor .sheet-header .charlevel .level label {
      font-size: 20px;
    }
    .dnd5e.sheet.actor .sheet-header .charlevel .experience {
      display: flex;
      justify-content: end;
      white-space: nowrap;
    }

    .dnd5e.sheet.actor.character
      .sheet-header
      .charlevel
      .experience
      input[type="text"] {
      width: auto;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 450px) {
    .dnd5e.sheet .sheet-header {
      position: relative;
    }
    .dnd5e.sheet.actor.character .sheet-header img.profile {
      position: absolute;
      top: 0px;
    }
    .dnd5e.sheet.actor.character .sheet-header img.profile {
      max-width: 90px;
      height: 90px;
    }
    .dnd5e.sheet.actor.character .sheet-header h1 {
      margin-left: 94px;
    }
    .dnd5e.sheet.actor.character .sheet-header .summary {
      margin-left: 94px;
      flex: 0 0 calc(100% - 94px);
    }
  }

  .dnd5e.sheet.actor .sheet-header .header-exp {
    max-width: 25%;
  }

  .dnd5e.sheet .sheet-navigation .item {
    margin: 0;
    font-size: max(min(20px, 5.2vw), 18px);
  }
  .dnd5e.sheet.actor ul.attributes {
    height: auto;
  }

  .dnd5e.sheet.actor ul.attributes li.attribute {
    height: auto;
    overflow: hidden;
  }
  .dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
    white-space: nowrap;
    font-size: 18px; /* Changes size of whitespace */
  }
  .dnd5e.sheet.actor ul.attributes li.attribute .attribute-value input {
    padding: 0;
  }
  .dnd5e.sheet.actor
    ul.attributes
    li.attribute
    .attribute-value.multiple
    input {
    flex: 1;
  }
  .dnd5e.sheet.actor.character .attributes .resource label.checkbox {
    white-space: nowrap;
  }
  .dnd5e.sheet.actor.character .sheet-header .attributes {
    height: auto;
  }

  .dnd5e.sheet.actor.character
    .sheet-header
    .attributes
    .attribute
    .attribute-name {
    white-space: nowrap;
  }

  .dnd5e.sheet.actor.character
    .sheet-header
    .attributes
    .attribute
    .attribute-footer {
    white-space: nowrap;
  }

  .dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
    margin: 0;
  }
  .dnd5e.sheet.actor .sheet-header .charlevel {
    flex: 1;
  }

  .dnd5e.sheet.actor ul.skills-list,
  .dnd5e.sheet.actor.character ul.skills-list {
    min-width: 195px;
    flex: 1;
  }

  .dnd5e.sheet.actor .counters .counter {
    flex-wrap: nowrap;
  }
  .dnd5e.sheet.actor .counters .counter h4 {
    white-space: nowrap;
  }
  .dnd5e.sheet.actor .counters .counter .counter-value {
    flex: 1;
    white-space: nowrap;
  }

  .dnd5e.sheet.actor .traits {
    min-width: 250px;
  }

  /* Item Lists*/
  .dnd5e.sheet .items-list .items-header {
    flex-wrap: nowrap;
  }
  .dnd5e.sheet .items-list .items-header > div:not(.item-name) {
    max-width: max(15%, 50px);
  }
  .dnd5e.sheet.actor .item-list .item > div:not(.item-summary):not(.item-name) {
    max-width: max(15%, 50px);
  }

  /*    Inventory   */

  .dnd5e.sheet.actor .inventory-list .item .item-name .item-image {
    max-height: 30px;
  }

  .dnd5e.sheet .sheet-header .summary li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .dnd5e.sheet.actor .inventory-list .item .item-name h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  /* Character */

  .dnd5e.sheet.actor h4.box-title {
    white-space: nowrap;
  }

  .dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
    height: auto;
  }

  .dnd5e.sheet.actor .tab.attributes {
    overflow-y: auto;
  }

  .dnd5e.sheet.actor .center-pane {
    overflow-y: unset;
    height: unset;
  }

  /* Character inventory */

  .dnd5e.sheet.actor .inventory-filters .currency {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .dnd5e.sheet .items-list .item-controls a {
    flex: unset;
  }
  .dnd5e.sheet.actor .item-controls {
    justify-content: space-evenly;
    align-items: center;
  }

  .dnd5e.sheet.actor .spellcasting-ability {
    max-width: 40%;
  }

  @media screen and (max-width: 600px) {
    .dnd5e.sheet.actor .inventory-filters .currency h3 {
      font-size: 0;
    }
    .dnd5e.sheet.actor .inventory-filters .currency h3 a {
      font-size: 14px;
    }
  }

  /*  Actor Items */
  .dnd5e.sheet.actor .inventory-list .item .item-name {
    min-width: 75px;
  }

  /* NPC */
  .dnd5e.sheet .sheet-body {
    overflow-y: auto;
  }

  /*    Item sheet   */
  .dnd5e.sheet.item .sheet-body .editor {
    flex-basis: 400px;
    flex-grow: 999;
  }

  .dnd5e.sheet.item .sheet-body .item-properties {
    flex-grow: 1;
    margin-bottom: 0.5em;
  }

  .dnd5e.sheet.item .sheet-body .item-properties .properties-list {
    display: flex;
    flex-wrap: wrap;
  }

  .dnd5e.sheet.item .sheet-body .item-properties .properties-list li {
    flex: 1 1 120px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .dnd5e.sheet.item .sheet-body .tab[data-tab="description"] {
    /* overflow: hidden; */
  }
/*==========================*DND END=====================================*/
@media only screen and (max-width: 600px) {/* UNDER 600 PIXEL*/
	.item-image {
	    width: 30vw;
	}
	.dnd5e.sheet.actor.character ul.skills-list {
	    flex: 66% !important;
	}
	.sheet-header .profile {
	    display: none;
	}
	.dnd5e.sheet.actor .inventory-filters .currency {
	    list-style: none;
	    margin: 4px 0 8px;
	    padding: 0;
	    font-size: 11px;
	    flex: 0 0 100%;
	    align-self: flex-end;
	}
}
@media only screen and (max-width: 600px) {/* UNDER 600 PIXEL*/
.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
    display: none;
}
}}