@media only screen and (max-width: 1024px) {
    .app.sheet.actor, .pf2e {
        font-family: var(--sans-serif);
        width: 100% !important;
        height: 100% !important;
    }
}
span.proficiency-rank.pf-value {
    display: inline-grid;
}

@media only screen and (max-width: 650) {
.crb-style .sheet-body .sheet-content .character .character-details {
    display: table-cell;
}
.crb-style .sheet-body .sheet-content .character .character-details .frame {
    display: none;
}
